*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    width: 100%;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color:white;
    margin-right: 10px;
}
a:hover{
    color:blue;
}

.container{
    border: 5px solid red;
    width: 100%;
    margin:0 auto;
}
i{
    font-family: 'Open Sans', sans-serif;
    color: #5c5c5c;
    font-family: 400;
    font-size: 14px;
}
.dash {
    border-top: 2px solid blue;
    width: 80px;
    border-radius: 2px;
    margin: 10px auto;
}
.img_overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(6, 137, 244, 0.8);
    color: #5c5c5c;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.img_overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.img_overlay:hover {
    opacity: 1;
}
.img_overlay > *{
    transform: translateY(0);
}
header .container{
    width:100%;
    background-image: url("../images/background_image_1.jpg");
    background-image:-webkit-linear-gradient(270deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("./images/background_image_1.jpg");
  /*  background-color:linear-gradient(270deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("./images/background_image_1.jpg");*/
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    height: 800px;
}
.navbar{
    display:flex;
    justify-content: space-between;
    padding: 60px 30px;
}
.navbar .logo{
    margin-left: 150px;
}
.nav-v{
    display: flex;
    justify-content: space-evenly;
    font-family: Nunito, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: 100px;
}
.nav-v a{
    margin-right: 40px;
}
.hometext{
    width:75vw;
    margin: 150px auto;
    text-align: center;
    color:white;
}
.hometext h1{
    color: #fff;
    font-size: 56px;
    line-height: 1.5;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Nunito, sans-serif;
    margin-bottom: 10px;
    margin-top: 30px;
}
.hometext p{
    width:80%;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
    margin-left: 120px;
}
.hometext .links{
    display:flex;
    justify-content: center;
    margin-top: 30px;
}
.links .download a, .view a {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    padding:12px 20px;
    border-radius: 5px;
    margin-right: 20px;
}
.download a, .sm a{
    background-color: rgb(52, 122, 241);
}
.download a:hover, .sm a:hover{
    background-color: #333;
}
.view a{
    border-radius: 5px;
    border: 1px solid rgb(52, 122, 241);
}
.view a:hover{
    background-color: rgb(52, 122, 241);
}
#about .container{
    margin-top: 120px;

}
.abt{
    width: 75vw;
    margin: 20px auto;
}
.about1{
    display:flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.about-title{
    text-align: center;
}
.about-title h2, .port-title h2, .ser-title h2, .team-title h2, .news-title h2, .test-title h2, .contact-title h2{
    margin-bottom: 20px;
    font-family: Nunito, sans-serif;
    color: #333;
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
}
.about-title p, .port-title p , .ser-title p, .team-title p, .news-title p, .contact-title p{
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    color: #5c5c5c;
    font-size: 18px;
}
.about1 .abouttext{
    font-size: 15px;
    color: #5c5c5c;
    font-family: 'Open Sans', sans-serif;
    margin-top: 40px;
    width:50%;
    line-height: 1.5em;
    text-align: left;
}
#portfolio .container{
    margin-top: 90px;
    width: 100%;
    margin-right: 0px;
}
.port-title{
    text-align: center;
}
.port-images img{
    display: block;
    margin: 0;
    padding: 0;
}
.port-images{
    width: initial;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 40px;
}
.port1, .port2, .port3, .port4, .port5, .port6, .port7, .port8{
    position: relative;
    width: 25%;
    margin: 0;
}
.port-more{
    text-align: center;
    margin-bottom: 50px;
}
.port-more p{
    margin-bottom: 50px;
    font-size: 25px;
    font-style: italic;
    color: #5c5c5c;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
.port-more a{
    color: #000;
    border: 1px solid blue;
    border-radius: 5px;
    padding:10px 25px;
    font-size: 15px;
    font-weight: bold;
}
.port-more a:hover{
    color: #fff;
    background-color: blue;
}
.desc{
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
#testimonial .container{
    padding: 2rem;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../images/background_image_2.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .6)), url("../images/background_image_2.jpg");
    background-size: auto cover;
    background-repeat: repeat no-repeat;
    height: 450px;
    margin-top: 120px;
}
.test-title{
    margin-top: 60px;
}
.test-title h2{
    text-align: center;
    color:#fff;
}
.test-title .dash{
    border-color: #fff;
}
.test-slider-wrapper{
    position: relative;
}
.slider{
    display: flex;
    padding: 50px;
    padding-top: 0px;
    text-align: center;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem -0.75rem hsla(0, 0%, 0%, 0.25);
    width: 80%;
    margin: 0px auto;
}
.walter1,
.walter2,
.walter3 {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
   
}
.slider p{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: 'Open Sans' ,sans-serif;
    font-size: 20px;
    line-height: 1.8em;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    color: #fff;
}
.slider h2{
    font-family: 'Open Sans' , sans-serif;
    font-size: 18px;
    color: blue;
}
.slider article{
    flex: 1 0 100% ;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    margin-left: 25px;
    column-gap: 0rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}
.slider-nav a{
    width:0.8rem;
    height:0.8rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    transition: opacity ease 250ms;
    margin-top: 30px;
}
.slider-nav a:hover{
    opacity: 1;
}
#services .container{
    margin-top: 100px;
    margin-bottom: 40px;
}
.ser-title{
    text-align: center;
    margin-bottom: 50px;
}
.ser-texts{
    width:70vw;
    margin: 40px auto;
    margin-top: 80px;
}
.ser-texts p{
    font-size: 15px;
    color: #5c5c5c;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    margin-top: 15px;
}
.ser-texts i{
    margin-bottom: 40px;
}
.ser-texts1, .ser-texts2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
}
.web1, .web2, .app, .photo, .brand, .host{
    width:33.33%;
    line-height: 1.2em;
    word-spacing: 0.5px;
}
.web1, .web2, .photo, .brand{
    margin-right: 40px;
}
#team .container {
    margin-top: 120px;
    margin-bottom: 50px;
    width: 100%;
}
.team-title{
    text-align: center;
    margin-bottom: 60px;
}
.team-title h1{
    margin-bottom: 10px;
}
.team-mem{
    width: 75vw;
    margin: 20px auto;
    display:flex;
    justify-content: center;
}
.team-mem img{
    display: block;
}
.team-mem h2{
    font-size: 16px;
    margin-bottom: 5px ;
    font-family: Nunito, sans-serif;
    color: #333;
    font-weight: 700;
}
.team-mem p{
    font-family: 'Open Sans', sans-serif;
    color: #5c5c5c;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}
.thomas, .alexa, .steward, .bruce{
    margin-left: 20px;
    text-align: center;
}
.mem_img{
    position: relative;
}

.img_overlay a:hover{
    background-color: white;
}
#video .container{
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("../images/background_image_3.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("../images/background_image_3.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    height: 500px;
}
.vid img{
    width: 10%;
    margin-bottom: 15px;
}
.vidcontent {
    width: 60vw;
    margin: 0px auto;
    padding-top: 150px;
    text-align: center;
}
.vidcontent p{
    width: 70%;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8em;
}
.vidcontent a{
    padding: 10px 25px;
    border-radius: 5px;
}
.vidcontent a:hover{
    color: #fff;
}
#latest-news .container{
    margin-top: 100px;
    width: 100%;
    margin: 50px auto;
}
.news-title{
    text-align: center;
    margin-bottom: 60px;
}
.news-img{
    width: 75vw;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;

}
.news-img .camera ,.berry , .hotel{
    width:33.33%;
    margin-right: 25px;
}
.news-img h3{
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: Nunito, sans-serif;
    color: #333;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}
.news-img small{
    margin-bottom: 15px;
    color: #999;
    font-size: 14px;
    line-height: 1em;
    font-style: italic;
    font-weight: bold;
}
.news-img p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #5c5c5c;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;

}
.rob{
    text-align: center;
}
#latest-news a{
    color: blue;
    font-size: 15px;
    margin-bottom: 10px;
}
#latest-news a:hover{
    color: #000;
}
.rob a{
    border: 1px solid rgb(52, 122, 241);
    color: #000;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.rob a:hover{
    background-color: rgb(52, 122, 241);
    color: #fff;
}
.contact .intouch{
    width:60%;
    margin: 20px auto;
}
.contact-title{
    text-align: center;
    margin-bottom: 50px;
}
.contact-form{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact-form .name{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 0px;
    margin-bottom: 40px;
}
.name1, .name2{
    width: 48%;
}
.name1 input{
    width: 100%;
    padding: 15px 10px;
}
.name2 input {
    width: 100%;
    padding: 15px 10px;
}
.email{
    max-width: 100%;
    margin-bottom: 40px;
}
.email input {
    width: 100%;
    padding:15px 10px;
}
.message textarea{
    width: 100%;
    height: 30%;
    margin-bottom: 40px;
}
.send{
    text-align: center;
    margin-bottom: 20px;
}
.sm a{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    padding:12px 20px;
    border-radius: 5px;
    text-align: center;
}
#end{
    background-color: #222;
    padding: 30px;
    text-align: center;
    margin-top: 100px;
}
.socials{
    margin-bottom: 10px;
    font-size: 15px;
}
.copyright{
    color: #777;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}


@media (max-width: 900px) {
    .navbar{
        padding: 30px 0px;
    }
    .navbar .logo{
        margin-left: 20px;
    }
    .nav-v{
        margin-right: 20px;
    }
    .nav-v a{
        margin-bottom: 10px;
    }
    .navbar .nav-v{
        flex-direction: column;
        margin-left: 0;
    }
    .hometext{
        width: 100%;
    }
    .hometext h1{
        font-size: 35px;
        margin-top: -30px;
    }
    .hometext p{
        margin-left: 100px;
    }
    .abt{
        width: 95%;
        margin: 40px;
    }
    .port-images{
        width: 100%;
    }
    .port1, .port2, .port3, .port4, .port5, .port6, .port7, .port8{
        width:50%;
    }
    .slider{
        width:90%;
    }
    .slider-nav{
        margin-left: -15px;
    }
    .ser-texts{
        width: 90%;
        margin: 0px auto;
    }
    .team-mem{
        width:95%;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .team-mem img{
        width: 100%;
    }
    .thomas, .alexa, .steward, .bruce{
        width:45% ;
        margin: 0;
        margin-bottom: 25px;
    }
    .news-img{
        width: 90%;
    }
    .contact .intouch{
        width: 90%;
    }
}

@media (max-width: 768px) {
    .abt {
        width: 100%;
        margin: 15px;
    }

    .about1 {
        flex-direction: column;
        margin-left: 0;
        padding: 0;
    }

    .about1 .abouttext {
        width: 95%;
        margin-right: 0px;
        margin-top: -20px;
    }

    .about1 img {
        width: 50%;
    }

    .slider p {
        font-size: 16px;

    }

    .slider-nav {
        margin-left: 10px;
    }

    .ser-texts {
        width: 100%;
        margin: 25px;
    }

    .ser-texts1,
    .ser-texts2 {
        flex-direction: column;
    }

    .web1,
    .web2,
    .app,
    .photo,
    .brand,
    .host {
        width: 90%;
        margin-bottom: 60px;
    }

    .app {
        margin-bottom: -20px;
    }

    .news-img {
        width: 100%;
        flex-direction: column;
        margin: 20px;
    }

    .news-img .camera,
    .berry,
    .hotel {
        width: 90%;
        margin-bottom: 25px;
        margin: 20px auto;
    }

    .news-img p {
        font-size: 15px;
        margin-bottom: 10px;
    }
}

@media (max-width: 475px) {
    .hometext h1 {
        font-size: 30px;
        text-align: center;
    }
    .hometext p {
        text-align: center;
        font-size: 15px;
        width: 80%;
        margin: 5px auto;
    }
    .hometext .links {
        flex-direction: column;
    }
    .links .download {
        margin-bottom: 40px;
    }
    .about-title p, .port-title p, .ser-title p, .team-title p, .news-title p, .contact-title p {
        font-size: 16px;
    }
    .about-img img {
        width: fit-content;
        border: 3px solid purple;
    }
    .port-images {
        flex-direction: column;
        border: 3px dashed darkgoldenrod;
    }
    .port1,
    .port2,
    .port3,
    .port4,
    .port5,
    .port6,
    .port7,
    .port8 {
        width: inherit;
        border: 3px solid purple;
    }
    .test-title {
        margin-top: 20px;
    }

    #testimonial .container {
        height: 550px;
    }

    .slider p {
        margin-top: 20px;
        height: 300px;
        margin: 3x auto;
    }

    .walter1,
    .walter2,
    .walter3 {
        width: 60vw;
    }

    .team-mem {
        flex-direction: column;
        margin-top: -30px;
    }

    .thomas,
    .alexa,
    .steward,
    .bruce {
        width: fit-content;
    }
    .vidcontent {
        padding-top: 0px;
    }

    .vidcontent img {
        width: 30%;
        margin-top: 30px;
    }

    .news-img {
        margin-left: 0;
        margin-top: -50px;
    }

    .socials {
        font-size: 10px;
    }

    .copyright {
        font-size: 12px;
    }

    .contact-form .name {
        display: block;
    }

    .name1,
    .name2 {
        width: 100%;
        margin-bottom: 30px;
    }


}
